body {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  color: black;
  font-family: "ＭＳ Ｐゴシック";
}

.ui {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: transparant;
}

.ui .main-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.ui #sound {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14pt;
  cursor: pointer;
}

.ui .main-menu .button {
  width: 300px;
  padding: 20px 0px 20px 0px;
  margin: 15px 0px 15px 0px;
  text-align: center;
  font-size: 28pt;
  color: #fff;
  background: rgba(81, 210, 245, 0.8);
  border: 5px solid #fff;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.ui .main-menu .button:hover {
  background: rgba(3, 176, 223, 1);
}

canvas#game {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.noselect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}
